*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
}

nav{
    padding: 40px 4%;
    align-items: center;
}

nav > .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a{
    color: rgb(233, 226, 226);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

nav a:hover{
    color: rgba(255, 0, 0, 0.808);
    transform: scale(1.07);
}

nav nav ul{
    list-style-type: none;
}

nav nav ul li{
    display: inline-block;
    padding: 0 40px;
    margin-right: 105px;
}