/*Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

h1.titulo{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
}

h1.titulo span{
    color: rgb(255, 0, 0);
}

.meio-site h2{
    color: white;
    font-size: 20px;
    text-align: left;
}

.meio-site img{
    text-align: right;
}

.meio-site{
    display: inline-block;
    padding: 0 20px;
}

/*Cabeçalho*/

header img{
    width: 150px;
}

header{
    padding: 40px 4%;
    align-items: center;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(233, 226, 226);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: rgba(255, 0, 0, 0.808);
    transform: scale(1.07);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
    margin-right: 105px;
}

/*Geral*/