/*Geral*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');

html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: rgba(255, 0, 0, 0.821);
}

html ::-webkit-scrollbar-track {
    background: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2.titulo {
    color: white;
    font-size: 37px;
    text-align: center;
}

h2.titulo span {
    color: rgb(255, 0, 0);
}

/*Cabeçalho*/

header img {
    width: 130px;
}

header {
    padding: 40px 4%;
    align-items: center;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 570px
}

header a {
    color: rgb(233, 226, 226);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.07);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

/* Topo Site */
section.topo-site {
    padding: 40px 4%;
}

section.topo-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site h1 {
    color: white;
    font-size: 37px;
    line-height: 38px;
}

.topo-site .txt-topo-site h1 span {
    color: rgba(255, 0, 0, 0.821);
}

.topo-site .txt-topo-site p {
    color: white;
    margin: 40px 0px;
}

.topo-site .img-topo-site img {
    position: relative;
    animation: flutuar 1.8s ease-in-out infinite alternate;
    border-radius: 100%;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 20px;
    }
}

/*Sobre*/

section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: white;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 47px;
}

.sobre .txt-sobre h2 span {
    color: rgba(255, 0, 0, 0.821);
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .botao-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: blueviolet;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* Integrantes */

section.integrantes {
    padding: 40px 4%;
}

section.integrantes .flex {
    gap: 60px;
}

.integrantes .integrantes-box {
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 44px;
    transition: .2s;
}

.integrantes .integrantes-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 14px rgba(255, 0, 0, 0.821);
}

.integrantes .integrantes-box i {
    font-size: 69px;
    color: rgba(255, 0, 0, 0.821);
}

.integrantes .integrantes-box h3 {
    font-size: 27px;
    margin: 12px 0;
}

/*SOBRE*/

.texto-principal-sobre {
    color: white;
    text-align: center;
}

.texto-secundario-sobre {
    color: white;
    text-align: center;
    margin-top: 30px;
}

.texto-principal-sobre span {
    color: rgb(255, 0, 0, 0.821);
}

.texto-secundario-sobre span {
    color: rgb(255, 0, 0, 0.821);
}

.secundario-sobre {
    color: white;
    text-align: center;
    padding-top: 18px;
}

.secundario-sobre span {
    color: rgb(255, 0, 0, 0.821);
}

.secundario-sobre p {
    color: white;
    max-width: 900px;
    text-align: center;
    text-align: justify;
    margin-left: 26%;
    font-size: 20px;
    padding: 15px 0px;
}

.onde-me-encontrar h2 {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 38px;
    padding: 26px 0px;
}

iframe {
    border-radius: 5%;
}

/*PROJETOS*/

.topo-site .img-boxbox img {
    position: relative;
    animation: flutuar 1.3s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 20px;
    }
}

.img-canvas-boxbox img {
    border-radius: 4%;
}

.botao-social button{
    border-radius: 50%;
    border: none;
    background-color: rgb(0, 0, 0);
    font-size: 22px;
    cursor: pointer;
    margin: 0 15px;
    transition: .2s;
}

.botao-social{
    text-align: center;
}

.texto-principal-sobre img{
    border-radius: 6%;
}